node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.*
!.env.example

# editor
.vscode/*
!.vscode/extensions.json
.idea

# vite / pwa
dev-dist

# capacitor native projects (generated with `npx cap add`)
/android
/ios
